.xrui__list.twodimensional.landscape {
    width: 300px;
    height: 800px;
}

.xrui__list.twodimensional.portrait {
    width: 300px;
    height: 800px;
}

.xrui__list.vr {
    width: 300px;
    height: 800px;
}