.xrui__navbar {
    background-color: var(--xrui-dark);
}

.xrui__navbar.play-mode {
    background-color: var(--xrui-primary);
}

.xrui__navbar.twodimensional.landscape .xrui__navbar.twodimensional.portrait{
    width: 100%;
    height: 50px;
}

.xrui__navbar.vr {
    width: 500px;
    height: 50px;
}
