.xrui-list.twodimensional.landscape {
    width: 300px;
    height: 800px;
}

.xrui-list.twodimensional.portrait {
    width: 300px;
    height: 800px;
}

.xrui-list.threedimensional {
    width: 300px;
    height: 800px;
}