.xrui__menu.twodimensional.portrait {
    width: 100%;
    height: 100%;
}

.xrui__menu.twodimensional.landscape {
    width: 600px;
    height: 100%;
}

.xrui__menu.threedimensional {
    width: 500px;
    height: 500px;
}

.xrui__menu {
    background-color: var(--xrui-dark);
}
